In [1]:
import pandas as pd

In [2]:
fname = "../paymo_input/batch_payment_polished.csv"
colnames = ['id1', 'id2', 'amount']
# df = pd.read_csv(fname, parse_dates=['time'], skipinitialspace=True, delimiter=' ', usecols=colnames)
df = pd.read_csv(fname, skipinitialspace=True, usecols=colnames)
df.head()

     id1    id2  amount
0  52575   1120   25.32
1  47424   5995   19.45
2  76352  64866   14.99
3  20449   1552   13.48
4  48676  19395   29.94

In [11]:
df['id1'].max()

80606

In [8]:
len(df['id1'].unique())

80538

In [3]:
fname = "../paymo_input/batch_payment_polished.csv"
colnames = ['id1', 'id2', 'amount']
# df = pd.read_csv(fname, parse_dates=['time'], skipinitialspace=True, delimiter=' ', usecols=colnames)
dp = pd.read_csv(fname, skipinitialspace=True, usecols=colnames)
dp.head()

     id1    id2  amount
0  49466   6989   23.74
1  52349   8552   37.10
2  32639   2562   18.68
3  15381  13167   20.92
4  17052   6289   39.09

In [39]:
id1s = set(df['id1'].unique())
id2s = set(df['id2'].unique())
id10 = set(dp['id1'].unique())
id20 = set(dp['id2'].unique())
ids = id1s.union(id2s)
id0 = id10.union(id20)
diff = ids.difference(id0)

In [42]:
len(ids)

80612

In [43]:
len(id0)

77360

In [44]:
max(ids)

80611

In [45]:
min(ids)

0

In [46]:
max(id0)

77359

In [51]:
df.groupby('id2').size()

id2
0         599
1         326
2          88
3         229
4         211
5          19
6         185
7          65
8         638
9          31
10        120
11         80
12        218
13        222
14        456
15       1621
16         63
17        363
18         69
19        209
20        323
21         92
22        710
23        520
24         11
25        419
26         13
27        103
28          7
29         69
         ...
80582       1
80583       1
80584       1
80585       1
80586       1
80587       1
80588       2
80589       1
80590       1
80591       1
80592       1
80593       1
80594       1
80595       2
80596       1
80597       1
80598       1
80599       1
80600       1
80601       1
80602       1
80603       1
80604       1
80605       1
80606       1
80607       1
80608       1
80609       1
80610       1
80611       1
dtype: int64

In [53]:
from array import *
A = array('L', [0])

In [57]:
A.append(2)

In [58]:
A

array('L', [0L, 2L])